Source: auks
Priority: optional
Maintainer: jbazik <john_bazik@brown.edu>
Build-Depends: libkrb5-dev (>= 1.8), libslurm-dev (>= 1.3.0),
 debhelper (>= 9), dh-exec, autotools-dev
Standards-Version: 3.9.8
Section: net
Homepage: https://github.com/hautreux/auks

Package: auks-client
Architecture: any
Depends: libauksapi (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Aside Utility for Kerberos Support
 Auks is an open source project that helps Batch Systems to provide
 Kerberos Credential Support.  Auks is not an authentication system. It
 only enables to set up a trusted remote cache system for storage and
 retrieval of kerberos TGT.
 .
 This package contains the auks command and aukspriv daemon.

Package: auksd
Architecture: any
Depends: auks-client (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Aside Utility for Kerberos Support
 Auks is an open source project that helps Batch Systems to provide
 Kerberos Credential Support.  Auks is not an authentication system. It
 only enables to set up a trusted remote cache system for storage and
 retrieval of kerberos TGT.
 .
 This package contains the auksd and auksdrenewer daemons.

Package: libauksapi
Section: libs
Architecture: any
Depends: auks (= ${binary:Version}), ${misc:Depends}
Description: AUKS API library
 Auks is an open source project that helps Batch Systems to provide
 Kerberos Credential Support.  Auks is not an authentication system. It
 only enables to set up a trusted remote cache system for storage and
 retrieval of kerberos TGT.
 .
 This package contains the runtime API library for AUKS.

Package: libauksapi-dev
Section: libdevel
Architecture: any
Depends: libauksapi (= ${binary:Version}), ${misc:Depends}
Description: Development package for AUKS
 Auks is an open source project that helps Batch Systems to provide
 Kerberos Credential Support.  Auks is not an authentication system. It
 only enables to set up a trusted remote cache system for storage and
 retrieval of kerberos TGT.
 .
 Development package for AUKS.  This package includes the header files
 for the AUKS API.

Package: slurm-spank-auks
Architecture: any
Depends: libauksapi (= ${binary:Version}), slurm (>= 1.3.0), libslurm30 (>= 1.3.0)
Description:: Slurm plugin for Auks
 Auks is an open source project that helps Batch Systems to provide
 Kerberos Credential Support.  Auks is not an authentication system. It
 only enables to set up a trusted remote cache system for storage and
 retrieval of kerberos TGT.
 .
 A slurm spank plugin that provides Kerberos Credential Support to Slurm.

Package: slurm-spank-auks-dev
Architecture: any
Depends: libauksapi-dev (= ${binary:Version}), slurm (>= 1.3.0)
Description:: Development package for slurm plugin for Auks
 Auks is an open source project that helps Batch Systems to provide
 Kerberos Credential Support.  Auks is not an authentication system. It
 only enables to set up a trusted remote cache system for storage and
 retrieval of kerberos TGT.
 .
 A slurm spank plugin that provides Kerberos Credential Support to Slurm.
 Development package for AUKS slurm spank plugin.

Package: libpam-auks
Architecture: any
Depends: libauksapi (= ${binary:Version}), libpam0g, libpam-runtime
Description:: PAM module for Auks
 Auks is an open source project that helps Batch Systems to provide
 Kerberos Credential Support.  Auks is not an authentication system. It
 only enables to set up a trusted remote cache system for storage and
 retrieval of kerberos TGT.
 .
 An AUKS PAM module.  Used in combination with a kerberos pam module,
 it stores the user's TGT with an AUKS server.
